.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0 15px #2020203d;
  background-image: url('../../../images/theme-dark.png');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
