.popup__close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  display: flex;
  cursor: pointer;
  transition: opacity .4s;
  background-image: url("../../../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  opacity: 1;
}

@media screen and (min-width: 1279px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -44px;
    right: -40px;
  }
}

.popup__close-button:hover,
.popup__close-button:focus {
  opacity: .6;
}
