.profile {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  max-width: 880px;
  width: 100%;
  justify-self: center;
  justify-content: space-between;
  padding: 40px 0 0;
}

@media screen and (max-width: 879px) {
  .profile {
    grid-template-columns: minmax(282px, 580px);
    justify-content: center;
    align-items: center;
    padding: 0 19px;
  }
}
