.profile-edit-modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  display: flex;
  cursor: pointer;
  transition: opacity .4s;
}

.profile-edit-modal__close:hover,
.profile-edit-modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
