.card {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
  width: 100%;
  box-shadow: var(--card-shadow);
  position: relative;
}
