.profile__edit-profile {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  background-image: url("../../../images/icon-profile-edit.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: ease-in-out 0.2s;
}

.profile__edit-profile:hover {
  opacity: .6;
}

@media screen and (max-width: 879px) {
  .profile__edit-profile {
    margin-top: 26px;
    width: 18px;
    height: 18px;
  }
}
