.card__like {
  display: flex;
  background-image: url("../../../images/icon-like_disable.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  transition: ease .3s;
  justify-self: stretch;
}

.card__like:hover {
  background-image: url("../../../images/icon-like_hover.svg");
}

.card__like:active {
  background-image: url("../../../images/icon-like_active.svg");
}
