.switch__toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__toggle:checked + .switch__slider {
  background-color: #2196f3;
}

.switch__toggle:focus + .switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch__toggle:checked + .switch__slider:before {
  /*-webkit-transform: translateX(24px);*/
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-image: url('../../../images/theme-light.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
