.profile__avatar-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  display: block;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: ease-in-out 0.2s;
}

.profile__avatar-overlay:hover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-image: url("../../../images/icon-profile-edit.svg");
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
  transition: ease-in-out 0.2s;
}
@media screen and (max-width: 879px) {
  .profile__avatar-overlay {
    justify-self: center;
  }
}
